{% extends 'base.html' %}

{% block conten %}
    <h1>发布任务：{{ project_obj.title }}-{{ project_obj.get_env_display }}</h1>
    <hr>
    <a href="{% url 'task_add' project_id=project_id %}" class="btn btn-success">添加</a>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>唯一标识</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for task_obj in task_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ task_obj.uid }}</td>
                <td>{{ task_obj.get_status_display }}</td>
                <td>
                    <a href="{% url 'deploy_task' task_id=task_obj.pk %}">发布</a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}