{% extends 'base.html' %}
{% block css %}
    <style>
        .outline .series .module {
            line-height: 100px;
            vertical-align: middle;
            width: 940px;
            margin: 0 auto;
            padding-bottom: 10px;
        }

        .outline .series .module .item .line {
            float: left;
            width: 80px;

        }

        .outline .series .module .item .line hr {
            margin-top: 49px
        }

        .outline .series .module .item .icon {
            float: left;
            color: #dddddd;
            position: relative;

        }

        .outline .series .module .item .icon .up, .outline .series .module .item .icon .down {
            position: absolute;
            line-height: 49px;
            min-width: 90px;
            left: 0;
            text-align: center;
            margin-left: -38px;
            color: #337ab7;
        }

        .outline .series .module .item:hover .icon, .outline .series .module .item.active .icon {
            color: green;
        }

        .outline .series .module .item .icon .up {
            top: 0;
        }

        .outline .series .module .item .icon .down {
            bottom: 0;

        }
    </style>
{% endblock %}
{% block conten %}
    {#    1. 配置任务表单的基本信息#}
    <table class="table-hover table table-striped">
        <tbody>
        <tr>
            <td>项目名称：{{ project_obj.title }}</td>
            <td>环境{{ project_obj.get_env_display }}</td>

        </tr>
        <tr>
            <td colspan="2">仓库地址{{ project_obj.repo }}</td>
        </tr>
        <tr>
            <td colspan="2">线上地址{{ project_obj.path }}</td>
        </tr>
        <tr>
            <td colspan="2">
                <div> 关联服务器</div>
                <ul>
                    {% for sever_obj in project_obj.servers.all %}
                        <li>{{ sever_obj.hostname }}</li>
                    {% endfor %}


                </ul>
            </td>
        </tr>
        </tbody>
    </table>
    {#    2. 任务表单基本配置#}

    <form action="" method="post">
        {% csrf_token %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-cog"></span>基本配置</h3>
            </div>
            <div class="panel-body">
                <div class="from-horizontal"></div>
                <label for="{{ all_form_obj.tag.id_for_label }}"
                       class="col-md-1 control-label">{{ all_form_obj.tag.label }}</label>
                <div class="col-md-11">
                    {{ all_form_obj.tag }}
                    <span style=" color:red ">{{ all_form_obj.errors.0 }}</span>
                </div>
            </div>
        </div>
        {#    3. 钩子脚本渲染#}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-tasks"></span>发布流程&钩子</h3>
            </div>
            <div class="panel-body">
                <div class="outline">
                    <div class="series">
                        <div class="module clearfix">
                            <div class="item left">
                                <div class="line">
                                    <hr>
                                </div>
                                <div class="icon">
                                    <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                                    <a class="down">01 开始</a>
                                </div>
                            </div>

                            <div class="item left active">
                                <div class="line">
                                    <hr>
                                </div>
                                <div class="icon">
                                    <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                                    <a class="up">02 下载前</a>
                                </div>
                            </div>
                            <div class="item left">
                                <div class="line">
                                    <hr>
                                </div>
                                <div class="icon">
                                    <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                                    <a class="down">03 下载代码</a>
                                </div>
                            </div>

                            <div class="item left active">
                                <div class="line">
                                    <hr>
                                </div>
                                <div class="icon">
                                    <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                                    <a class="up">04 下载后</a>
                                </div>
                            </div>

                            <div class="item left">
                                <div class="line">
                                    <hr>
                                </div>
                                <div class="icon">
                                    <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                                    <a class="down">05 打包上传</a>
                                </div>
                            </div>

                            <div class="item left active">
                                <div class="line">
                                    <hr>
                                </div>
                                <div class="icon">
                                    <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                                    <a class="up">06 发布前</a>
                                </div>
                            </div>

                            <div class="item left">
                                <div class="line">
                                    <hr>
                                </div>
                                <div class="icon">
                                    <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                                    <a class="down">07 发布</a>
                                </div>
                            </div>

                            <div class="item left active">
                                <div class="line">
                                    <hr>
                                </div>
                                <div class="icon">
                                    <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                                    <a class="up">08 发布后</a>
                                </div>
                            </div>
                            <div class="item left">
                                <div class="line">
                                    <hr>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="hooks">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><span class="glyphicon glyphicon-cog"></span>02下载前</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            {{ all_form_obj.before_download_select }}
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <div class="col-md-12">
                                            {{ all_form_obj.before_download_script }}

                                            <span style="color: red">{{ all_form_obj.before_download_script.error.0 }}</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <div class="checkbox">
                                                <label for="">{{ all_form_obj.before_download_template }}保存为模版</label>

                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            {{ all_form_obj.before_download_title }}
                                            <span style="color: red">{{ all_form_obj.before_download_title.error.0 }}</span>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><span class="glyphicon glyphicon-cog"></span>04下载后</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            {{ all_form_obj.after_download_select }}
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <div class="col-md-12">
                                            {{ all_form_obj.after_download_script }}

                                            <span style="color: red">{{ all_form_obj.after_download_script.error.0 }}</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <div class="checkbox">
                                                <label for="">{{ all_form_obj.after_download_template }}保存为模版</label>

                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            {{ all_form_obj.after_download_title }}
                                            <span style="color: red">{{ all_form_obj.after_download_title.error.0 }}</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><span class="glyphicon glyphicon-cog"></span>06发布前</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            {{ all_form_obj.before_deploy_select }}
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <div class="col-md-12">
                                            {{ all_form_obj.before_deploy_script }}

                                            <span style="color: red">{{ all_form_obj.before_deploy_script.error.0 }}</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <div class="checkbox">
                                                <label for="">{{ all_form_obj.before_deploy_template }}保存为模版</label>

                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            {{ all_form_obj.before_deploy_title }}
                                            <span style="color: red">{{ all_form_obj.before_deploy_title.error.0 }}</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><span class="glyphicon glyphicon-cog"></span>08发布后</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            {{ all_form_obj.after_deploy_select }}
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <div class="col-md-12">
                                            {{ all_form_obj.after_deploy_script }}

                                            <span style="color: red">{{ all_form_obj.after_deploy_script.error.0 }}</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <div class="checkbox">
                                                <label for="">{{ all_form_obj.after_deploy_template }}保存为模版</label>

                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            {{ all_form_obj.after_deploy_title }}
                                            <span style="color: red">{{ all_form_obj.after_deploy_title.error.0 }}</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <input type="submit" class="btn btn-success">
    </form>
{% endblock %}

{% block js %}
    <script>
        $('.hooks').find('select').change(function () {
            var that = $(this)
            $.ajax({
                url: '/hook/template/' + $(this).val() + '/',
                type: 'get',
                success: function (args) {
                    {#alert(args.content)#}
                    //将脚本内容放入select中
                    that.parent().parent().next().find('textarea').val(args.content)

                }
            })
        })
    </script>
{% endblock %}